---
---
@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #1e73be;
  background-image: linear-gradient(120deg, #003399, #1e73be);
}

a {
    color: #003399;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #1e73be;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: merriweather;
  font-weight: bolder;
}

#content {
  h1, h2, h3, h4, h5, h6 {
    color: rgb(51, 51, 51);
  }
}
